<div class="col-content">
    <section class="section-hero">
    </section>
    <section class="section-display-item">
        <div class="container-lastest">
            <h2 class="title">New Books</h2>
            <div class="row">
                {{#each books}}
                <form action="/buy/add" method="post">
                <div class="container col-desktop">
                    <div class="container-product row">
                        <div class="img-product col-1">
                            <a href="/home/view-product/{{Book_ID}}">
                                <img src="/img/books/{{Image}}" alt="book" height="150" width="150">
                            </a>
                        </div>
                        <div class="info-product col-2">
                            <input name="bookid" type="hidden" value="{{Book_ID}}">
                            <h4 class="item-name" name="bookname" height="150" width="150">{{Book_Name}}</h4>
                            <p class="cost-item" name="price">${{Price}}</p>
                            <button class="cart" id="addtoCart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="container-lastest">
            <h2 class="title">Best Seller Books </h2>
            <div class="row">
                <div class="container col-desktop">
                    <div class="container-product row">
                        <div class="img-product col-1">
                            <img src="/img/product-1.png" alt="book">
                        </div>
                        <div class="info-product col-2">
                            <h4 class="item-name">Book1</h4>
                            <p class="cost-item">$25</p>
                            <button class="cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lastest">
            <h2 class="title">Top Reading Books</h2>
            <div class="row">
                <div class="container col-desktop">
                    <div class="container-product row">
                        <div class="img-product col-1">
                            <img src="/img/product-1.png" alt="book">
                        </div>
                        <div class="info-product col-2">
                            <h4 class="item-name">Book1</h4>
                            <p class="cost-item">$25</p>
                            <button class="cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{!--
<dialog id="favDialog">
    <form method="get" action="/">
        <section>
            <p>
                <label for="favAnimal">Input quantiy:
                    <input type="number" style="width: 50%" id="quantity"> </label>
            </p>
        </section>
        <menu style="text-align: center">
            <button type="submit">Confirm</button>
    </form>
    <button id="cancel" type="reset">Cancel</button>
    </menu>
</dialog>

<script>
    (function () {
        var updateButton = document.getElementById('addtoCart');
        var cancelButton = document.getElementById('cancel');
        var favDialog = document.getElementById('favDialog');

        // Update button opens a modal dialog
        updateButton.addEventListener('click', function () {
            favDialog.showModal();
        });

        // Form cancel button closes the dialog box
        cancelButton.addEventListener('click', function () {
            favDialog.close();
        });
    })();
</script> --}}