<div class="container padding-width">
    <div class="row wrapper-register">
        <h2 class="align-center">Hi
            <span>...</span>!</h2>
        <form action="/home/user-info" method="post">
            {{#each accounts}}
            <label for="">Username</label>
            <input required readonly="true" class="custom-input" type="text" name="username" value="{{UserName}}">
            <label for="">Password</label>
            <input required class="custom-input" type="password" name="password" value="{{Account_Password}}"> {{/each}} {{#each customers}}
            <label for="">Full Name</label>
            <input required class="custom-input" type="text" name="fullname" value="{{Customer_Name}}">
            <label class="gender">Gender</label>
            <br/>
            <input class="gender-select" checked id="male" type="radio" name="gender">
            <label class="gender-select" for="male">Male</label>
            <input class="gender-select" id="female" type="radio" name="gender">
            <label class="gender-select" for="female">Female</label>
            <br/>
            <br/>
            <label for="">Phone</label>
            <input required class="custom-input" type="text" name="phone" value="{{Phone}}">
            <label for="">Email</label>
            <input required class="custom-input" type="email" name="email" value="{{Email}}"> {{/each}}
            <div class="row">
                <div class="col-half">
                    <button type="submit" class="btn btn--orange">
                        <span>Submit</span>
                    </button>
                </div>
                <div class="col-half">
                    <button type="submit" class="btn">
                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>