<div class="container padding-width">
    <div class="manager-container">
        <div class="manager-content">
            <div class="tab-content content-managing-items content-wrapper-wide active">
                <div class="content-wrapper">
                    <div class="search-item-wrapper">
                    <form action="managing-issuingHouses" method="post">
                        <input type="text" class="custom-input" placeholder="Typing Issuing house Name" name="issuingHouseName">
                        <button class="btn-search">
                                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button>
                    </form>
                    </div>
                    <div class="add-item-btn">
                        <button class="btn btn--small btn-add"><span><i class="fa fa-plus" aria-hidden="true"></i> Add issuing house</span></button>

                    </div>
                </div>
                <table class="table-manager">
                    <thead>
                        <tr>
                            <th>Issuing house ID</th>
                            <th>Issuing house Name</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each issuingHouse}}
                            <tr>
                                <td>{{IssuingHouse_ID}}</td>
                                <td>{{IssuingHouse_Name}}</td>
                                <td>{{Contact}}</td>
                                <td>{{Address}}</td>
                                <td>
                                    <button id="book1" class="btn btn--small btn--orange" data-type="edit"><span><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span></button>
                                    <button class="btn btn--small btn--red" data-type="remove"><a href="deleteIssuingHouse/{{IssuingHouse_ID}}"><span><i class="fa fa-trash" aria-hidden="true"></i> Remove</span></a></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="popup-item-add">
                    <div class="popup-box">
                        <i class="fa fa-close close-popup"></i>
                        <div class="outer">
                            <div class="container">
                            <form action="addIssuingHouse" method="POST" role="form">
                                <label>Issuing house Name</label>
                                <input type="text" name="issuingHouse_Name" class="custom-input" required="true">
                                <label>Address</label>
                                <input type="text" name="address" class="custom-input" required="true">
                                <label>Contact</label>
                                <input type="text" name="contact" class="custom-input" required="true">
                                <button id="ih-add" type="submit" class="btn"><a href="/admin/managing-issuingHouses"><span>Add</span></a></button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-item-edit">
                    <div class="popup-box">
                        <i class="fa fa-close close-popup"></i>
                        <div class="outer">
                            <div class="container">
                            <form action="managing-issuingHouses" method="POST" role="form">
                                <input type="text" hidden="true" name="Kindid">
                                <label>Issuing house Name</label>
                                <input type="text" class="custom-input" required="true">
                                <label>Address</label>
                                <input type="text" class="custom-input" required="true">
                                <label>Contact</label>
                                <input type="text" class="custom-input" required="true">
                                <button class="btn"><span>Edit</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>