
<div class="container padding-width">
    <div class="manager-container">
        <div class="manager-content">
            <div class="tab-content content-managing-items content-wrapper-wide active">
                <div class="content-wrapper">
                    <div class="search-item-wrapper">
                        <input type="text" class="custom-input" placeholder="Typing Kind ID or Name">
                        <button class="btn-search">
                                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button>
                    </div>
                    <div class="add-item-btn">
                        <button class="btn btn--small btn-add"><span><i class="fa fa-plus" aria-hidden="true"></i> Add kind</span></button>

                    </div>
                </div>
                <table class="table-manager">
                    <thead>
                        <tr>
                            <th>Kind ID</th>
                            <th>Kind Name</th>
                            <th>Description</th>
                            <th>Catelogies belonging</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each kind}}
                            <tr>
                                <td>{{Kind_ID}}</td>
                                <td>{{Kind_Name}}</td>
                                <td>{{Description}}</td>
                                <td>{{Category_ID}}</td>
                                <td>
                                    <button id="book1" class="btn btn--small btn--orange" data-type="edit"><span><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span></button>
                                    <button class="btn btn--small btn--red" data-type="remove"><span><i class="fa fa-trash" aria-hidden="true"></i> Remove</span></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="popup-item-add">
                    <div class="popup-box">
                        <i class="fa fa-close close-popup"></i>
                        <div class="outer">
                            <div class="container">
                                <form action="managing-kinds" method="POST" role="form">
                                    <label>Kind Name</label>
                                    <input name="kind_Name" type="text" class="custom-input" required="true">
                                    <label>Description</label>
                                    <input name="description" type="text" class="custom-input" required="true">
                                    <label>Catelogies belonging</label>
                                    <select name="category" required class="custom-input" id="select1">
                                        {{#each Category}}
                                            <option>{{Category_Name}}</option>
                                        {{/each}}
                                    </select>
                                    <button type="reset" class="btn"><span>Add</span></button>
                                </from>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-item-edit">
                    <div class="popup-box">
                        <i class="fa fa-close close-popup"></i>
                        <div class="outer">
                            <div class="container">
                                <form action="managing-kinds" method="POST" role="form">
                                    <label>Kind ID</label>
                                    <input name="kind_Name" type="text" class="custom-input" required="true" value="{{Kind_ID}}">
                                    <label>Kind Name</label>
                                    <input name="kind_Name" type="text" class="custom-input" required="true" value="{{Kind_Name}}">
                                    <label>Description</label>
                                    <input name="description" type="text" class="custom-input" required="true" value="{{Description}}">
                                    <label>Catelogies belonging</label>
                                    <select name="category" required class="custom-input" id="select1">
                                        <option value="{{Category_ID}}">{{Category_ID}}</option>
                                        {{#each Category}}
                                            <option>{{Category_Name}}</option>
                                        {{/each}}
                                    </select>
                                    <button type="reset" class="btn"><span>Edit</span></button>
                                </from>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>