
<div class="container padding-width">
    <div class="manager-container">
        <div class="manager-content">
            <div class="tab-content content-managing-items content-wrapper-wide active">
                <div class="content-wrapper">
                    <div class="search-item-wrapper">
                        <input type="text" class="custom-input" placeholder="Typing Order ID">
                        <button class="btn-search">
                                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button>
                    </div>
                </div>
                <table class="table-manager">
                    <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Consignee</th>
                            <th>Consignee phone</th>
                            <th>Consignee address</th>
                            <th>Note</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                            <tr>
                                <td>{{Order_Date}}</td>
                                <td>{{Order_ID}}</td>
                                <td>{{Customer_ID}}</td>
                                <td>{{Consignee}}</td>
                                <td>{{Consignee_Phone}}</td>
                                <td>{{Consignee_Address}}</td>
                                <td>{{Note}}</td>
                                <td>{{Total}}</td>
                                <td>{{Order_Status}}</td>
                                <td>
                                    <a href="/admin/order-detail/{{Order_ID}}"><button class="btn btn--small" data-type="detail"><span><i class="" aria-hidden="true"></i> Detail</span></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>     
                </table>
            </div>
        </div>
    </div>
</div>