<div class="container padding-width">
    <h2 class="align-center">Order infomation</h2>
    <div class="row wrapper-order">
        <div class="col-order-1">
            {{#each orders}}
            <label for="">Order ID</label>
            <input readonly class="custom-input" type="text" name="orderid" value="{{Order_ID}}">
            <label for="">Consignee Name</label>
            <input readonly class="custom-input" type="text" name="fullname" value="{{Consignee}}">
            <label for="">Consignee Phone</label>
            <input readonly class="custom-input" type="text" name="phone" value="{{Consignee_Phone}}">
            <label for="">Consignee Address</label>
            <input readonly class="custom-input" type="text" name="address" value="{{Consignee_Address}}">
            <label for="">Note</label>
            <textarea readonly rows="4" cols="50" class="custom-input" type="text" name="address">{{Note}}</textarea>
            <p class="product-price" style="text-align: center">Total price: ${{Total}}</p>
            {{/each}}
        </div>
        <div class="col-order-2">
            <table class="cart-table">
                {{#each orderdetails}}
                <tr class="container-cart">
                    <td class="item-img">
                        <img src="/img/books/{{Image}}" alt="book" height="250" width="250">
                    </td>
                    <td class="item-info">
                        <h4 class="item-name">{{Book_Name}}</h4>
                        <span class="item-cost">Price: ${{Price}}</span>
                        <br>
                        <span class="qty">Quantity: {{Quantity}}</span>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-buy btn--orange btn--large">
            <a href="/buy/order-track/{{layoutVM.idCustomer}}">
                <span>Back</span>
        </button>
    </div>
</div>