<div class="container padding-width">
    <div class="order-track-container">
        <table class="table-manager">
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Customer Name</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th></th>
            </tr>
            {{#each orders}}
            <tr>
                <td>{{Order_ID}}</td>
                <td>{{Order_Date}}</td>
                <td>{{Consignee}}</td>
                <td>{{Total}}</td>  
                <td><p class="color{{Order_Status}}">{{Order_Status}}</p> </td>
                <td>
                    <a href="/buy/order-detail/{{Customer_ID}}/{{Order_ID}}">
                        <button id="" class="btn btn--small btn--orange" data-type="detail">
                            <span>
                                <i class="fa fa-eye" aria-hidden="true"></i> Detail</span>
                        </button>
                    </a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>