<div class="container padding-width">
    <div class="row">
        <h2 class="align-center">Your order is created successfully!</h2>
        <table class="order-info">
            <tr>
                <td class="order-info--key">Order ID:</td>
                <td class="order-info--value">{{Order_ID}}</td>
            </tr>
            <tr>
                <td class="order-info--key">Full name:</td>
                <td class="order-info--value">{{Consignee}}</td>
            </tr>
            <tr>
                <td class="order-info--key">Phone:</td>
                <td class="order-info--value">{{Consignee_Phone}}</td>
            </tr>
            <tr>
                <td class="order-info--key">Address:</td>
                <td class="order-info--value">{{Consignee_Address}}</td>
            </tr>
            <tr class="total-cost">
                <td class="order-info--key">Total cost:</td>
                <td class="order-info--value">${{Total}}</td>
            </tr>
        </table>
        <div class="btn-wrapper">
            <a href="/home/home-customer" class="btn">Continue shopping</a>
        </div>
    </div>
</div>