<div class="container padding-width">
    <h2 class="align-center">Please check order infomation</h2>
    <form action="order-success" method="post">
        <div class="row wrapper-order">
            <div class="col-order-1">
                <label for="">Order ID</label>
                <input readonly class="custom-input" type="text" name="orderid" value="{{orderid}}">
                <label for="">Consignee Name
                    <span class="required-symbol">(*)</span>
                </label>
                <input required class="custom-input" type="text" name="fullname" placeholder="Input your name" onclick="refrClock()">
                <label for="">Consignee Phone
                    <span class="required-symbol">(*)</span>
                </label>
                <input required class="custom-input" type="text" name="phone" placeholder="Input your phone">
                <label for="">Consignee Address
                    <span class="required-symbol">(*)</span>
                </label>
                <input required class="custom-input" type="text" name="address" placeholder="Input your address">
                <label for="">Note</label>
                <textarea rows="4" cols="50" class="custom-input" type="text" name="note"></textarea>
            </div>
            <div class="col-order-2">
                <table class="cart-table">
                    {{#each items}}
                    <tr class="container-cart">
                        <td class="item-img">
                            <img src="/img/books/{{Product.Image}}" alt="book" height="250" width="250">
                        </td>
                        <td class="item-info">
                            <h4 class="item-name">{{Product.Book_Name}}</h4>
                            <span class="item-cost">${{Product.Price}}</span>
                            <br>
                            <span class="qty">Quantity:</span>
                            <input Readonly type="number" class="qty-input" name="qty" value="{{Quantity}}" required="true" min="1">
                        </td>
                    </tr>
                    {{/each}}
                </table>
                <p class="product-price" style="text-align: center">Total price: ${{total}}</p>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-buy btn--orange btn--large">
                <a href="order-success.html">
                    <span>Buy Now</span>
                </a>
            </button>
        </div>
        <input class="custom-input" type="text" id="clock" name="clock" value="" hidden="true">
        <input class="custom-input" type="text" name="total" value="{{total}}" hidden="true">
    </form>
    <button class="btn btn-buy btn--large">
        <a href="/home/home-customer">
            <span>Cancel</span>
        </a>
    </button>
</div>